HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
**/.idea
**/.idea/
**/.idea/**
**/compiler.xml
**/encodings.xml
**/misc.xml
**/vcs.xml
**/workspace.xml
**/uiDesigner.xml

*.iws
*.iml
*.ipr

.idea/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
mvnw
mvnw.cmd

**/.mvn/**
*.class

# maven ignore
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.settings/*

# idea ignore
.idea/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
#*.properties

# system ignore
.DS_Store


/*/.mvn

# Project exclude paths
/.idea
/log_dir_IS_UNDEFINED
/.gitignore

/*/*.iml
/*/target

**/test/**